*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

main{
    text-align: center;
}

#counterDiv{
    width: 60%;
    margin: 200px auto;
    display: flex;
    justify-content: space-between;
}